body
{
    margin: 0;
    background-color: #A27B5C;
    width: 100%;
    height: 2000px;
}

header
{
    height: 95px;

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row wrap;

    background-color: #757571;
}

#headerLogo
{
    flex: 1 1 auto;
}

#logoImage
{
    height: 100%;
}

#headerTitle
{
    flex: 9 9 auto;

    text-align: right;
    font-size: 55;
}

main
{
    height: 100%;
}

#mainSection
{
    display: flex;
    flex-flow: row nowrap;

    height: 100%;

    margin: 45px 110px;

    background-color: #181712;
}

#mainText
{
    flex: 1 1 auto;

    color: white;

    margin: 5% 15%;

    text-indent: 20px;
    font-size: 15pt;
}

#mainImage
{
    flex: 1 2 auto;

    margin: 8% 3%;
}

#bookImage
{
    width: 100%;
}