body
{
    margin: 0;
    background-color: #541212;
    width: 100%;
    height: 2250px;
}

header
{
    height: 95px;

    position: sticky;
    top: 0px;

    display: flex;
    flex-direction: row wrap;

    background-color: #0F0E0E;
}

#headerLogo
{
    flex: 1 1 0;
}

#logoImage
{
    height: 100%;
}

#headerName
{
    flex: 0 1 auto;

    margin: 0% 2%;

    color: white;
    font-size: 20pt;
}

#headerTitle
{
    flex: 9 9 auto;

    text-align: right;
    font-size: 55;
    color: white;
}

main
{
    height: 100%;
}

#mainSection
{
    display: flex;
    flex-flow: row nowrap;

    height: 2200px;

    margin: 45px 110px;

    background-color: #181712;
}

.title
{
    font-weight: bold;

    text-indent: 0;
}

#mainText
{
    flex: 1 1 0;

    color: white;

    margin: 5% 15%;

    text-indent: 20px;
    font-size: 15pt;
    text-align: justify;
}

#sideMenu
{
    flex: 1 1 0;

    margin: 8% 3%;
}

#bookImage
{
    flex: 0 1 0;

    width: 100%;
    height: initial;
}